nav.mt-2 ul.nav-sidebar li p{
	color: rgb(131,219,214) !important;
}
nav.mt-2 ul.nav-sidebar li i{
	color: rgb(131,219,214) !important;
}
nav.mt-2 ul.nav-sidebar li a:hover{
	background-color:  rgba(131,219,214,0.5) !important;
}
.bg-1{
	background-color: rgba(20,143,119);
}
.bg-2{
	background-color: rgba(241,196,15);
}
.bg-3{
	background-color: rgba(253,132,105);
}

table td{
		font-size: 13px !important;
	letter-spacing: 0.0625em;
	margin:-10px;
	border-spacing: 1em;
}
